.todo-list-item{
font-size:19px;

}

.date-input{
margin-right:50px;
}

.todo-task-text{
margin-left:80px;
}

.delete-task{
float: right;
margin-right:5px;
margin-top: -2px;
}

.complete-task{
float: right;
width:40px;
cursor: pointer;
margin-top: -2px;
}

.complete-task, .delete-task:hover{
cursor: pointer;
}

.done {
text-decoration: line-through;
}

.background-done{
background-color: green;
}

.check-task{
background-color: lightgreen;
}

.todo-list-item-block{
border: 1px solid lightgray;
height:60px;
margin-bottom:10px;
}

.todo-list-item-content{
margin:4px;
}